#criticalmassin-next-tour-headline
{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#criticalmassin-next-tour-date,
#criticalmassin-next-tour-time,
#criticalmassin-next-tour-location
{
    display: block;
}